@model Employee
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pd-2">
            <h2 class="text-primary">Create Employee</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="FristName"></label>
            <input asp-for="FristName" class="form-control" />
            <span asp-validation-for="FristName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HiredDate"></label>
            <input asp-for="HiredDate" class="form-control" />
            <span asp-validation-for="HiredDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>