@model Employee
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pd-2">
            <h2 class="text-primary">Delete Employee</h2>
        </div>
        <div class="mb-3">
            <label asp-for="FristName"></label>
            <input asp-for="FristName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="HiredDate"></label>
            <input asp-for="HiredDate" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>